table
{
    border-spacing: 0px;
    border-collapse: collapse;
}


td
{
    padding : 5px;
}

input
{
    
    margin : 0px;
}
.bottom
{
    border-bottom: 1px solid black;
}

.top
{
    border-top: 1px solid black;
}

.left
{
    border-left: 1px solid black;
}

.right
{
    border-right: 1px solid black;
}
